/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// Custom Colors
$cyan: #33e0ff;
$humility: #777;

// Bootstrap Variables
$brand-primary: #2c3e50;
$brand-secondary: #e25139;
$brand-success: #2ecc71;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

$text-color: #2c3e50;

$input-border-focus: rgba($text-color, 0.5);

$font-size-base: 14px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;

$navbar-default-bg: #fafafa;
$navbar-default-toggle-border-color: #fafafa;
$navbar-default-border: #fafafa;
